[submodule "StudyProgramming/BookExercise/MCppProgrammingwithTDD/dep/googletest"]
	path = StudyProgramming/BookExercise/MCppProgrammingwithTDD/dep/googletest
	url = git@github.com:google/googletest.git
